@model IEnumerable<Data.Entities.Message>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "";
}

<table class="table">
    <tbody>

    @foreach (var item in Model) {

            @if(Model.FirstOrDefault().FirstUser.Messages.Contains(item))
            {
                <tr style="color: mediumvioletred">
            <td> 
                          
                 @if (Model.FirstOrDefault().FirstUser.Photos.Count > 0)
                {
                            <img src="~/Photos/@Model.FirstOrDefault().SecondUser.Photos.FirstOrDefault().Path" height="50" width="50" />
                }
                    @Html.DisplayFor(modelItem => item.FirstUser.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Text)
            </td>
                </tr>
            }

            @if (!(Model.FirstOrDefault().FirstUser.Messages.Contains(item)))
            {
                <tr style="color: darkslategrey">
                    <td>
                 @if (Model.FirstOrDefault().FirstUser.Photos.Count > 0)
                {
                            <img src="~/Photos/@Model.FirstOrDefault().FirstUser.Photos.FirstOrDefault().Path" height="50" width="50" />
                        }
                        @Html.DisplayFor(modelItem => item.FirstUser.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                </tr>
            }
      }
    </tbody>
</table>

<h1>SendMessage</h1>

<h4>Message</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SendMessage">
            <div class="form-group">
                <label asp-for="@Model.FirstOrDefault().Text" class="control-label"></label>
                <input asp-for="@Model.FirstOrDefault().Text" class="form-control" />
                <span asp-validation-for="@Model.FirstOrDefault().Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.FirstOrDefault().FirstUserId" class="form-control" />
            </div>
            <div class="form-group">
                @if (Model.First().FirstUser.Account.Email == HttpContextAccessor.HttpContext.User.Identity.Name)
                {
                    <input type="hidden" asp-for="@Model.FirstOrDefault().SecondUserId" class="form-control" value="@Model.FirstOrDefault().SecondUserId" />
                }
                else
                {
                    <input type="hidden" asp-for="@Model.FirstOrDefault().SecondUserId" class="form-control" value="@Model.FirstOrDefault().FirstUserId" />

                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>