@model Data.Dto_s.User.GetUserDto

@{
    ViewData["Title"] = "Get";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div>
        <table width="300px">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProfilePhoto)</th>
            <td><img src="~/Photos/@Model.ProfilePhoto" height="70" width="70"/></td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <td>@Html.DisplayFor(model => model.Gender)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Photos)</th>
            <td><img src="~/Photos/@Model.Photos.First()" height="140" width="140"/></td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
