@model Data.Dto_s.User.MyUserDto;


@{
    ViewData["Title"] = "Your profile";
    bool visible = Model.IsPremium;
}

<div class="user-settings-content">
    <div class="section-headline">
        <span class="divider f-w"></span>
        <div class="d-flex justify-between">
            <h3 class="title">Public profile</h3>
            <div class="d-flex align-items-center">
                <a class="link">security</a>
                <i class="bi bi-dot font-blue"></i>
                <a class="link">more actions</a>
                <i class="bi bi-dot font-blue"></i>
                <a class="link">edit account</a>
            </div>
        </div>
    </div>

    <section class="content-section">
        <div class="image-wrapper">
            <img class="image image-rounded" src="~/Photos/@Model.ProfilePhoto" />
        </div>
        <div class="detail-info-section">
            @if(!visible){
                <div class="info-col">
                <p>Username</p>
            </div>
            <div class="data-col">
                <p>@Html.DisplayFor(model => model.Name)</p>
            </div>
            }
             <div class="info-col">
                <p>Username</p>
            </div>
            <div class="gold-col">
                <p class="gold-text">@Html.DisplayFor(model => model.Name)</p>
            </div>
            <div class="info-col">
                <p>Email</p>
            </div>
            <div class="data-col">
                <p>dummy@example.com</p>
            </div>

            <!-- <div class="info-col">
                <p>@Html.DisplayNameFor(model => model.Gender)</p>
            </div>
            <div class="data-col">
                <p>@Html.DisplayFor(model => model.Gender)</p>
            </div> -->

            <div class="info-col">
                <p>Description</p>
            </div>
            <div class="data-col">
                <p>Your description goes here!</p>
            </div>

            <div class="info-col">
                <p>Phone number</p>
            </div>
            <div class="data-col">
                <p>+48 123 456 789</p>
            </div>

            <div class="info-col">
                <p>Gender</p>
            </div>
            <div class="data-col">
                <p>M</p>
            </div>

            <div class="info-col">
                <p>Location</p>
            </div>
            <div class="data-col">
                <p>Białystok, Podlaskie</p>
            </div>

            <div class="info-col">
                <p>Height</p>
            </div>
            <div class="data-col">
                <p>1'90</p>
            </div>
            <div class="info-col">
                <p>@Html.DisplayNameFor(model => model.IsPremium)</p>
            </div>
            <div class="data-col">
                <p>@Html.DisplayFor(model => model.IsPremium)</p>
            </div>
            @if(!visible){
            <div class="info-col">
                <p>Buy premium</p>
            </div>
            <div class="premium-col" style="display:flex; flex-direction: row;">
                <a href='@Url.Action("Index", "premium")'>
                <button type="button" class="button primary">PREMIUM</button>
                </a>
            </div>
            }
        </div>
    </section>
</div>

<!-- <div>
    <table width="300px">
        
        <tr>
            <th>@Html.DisplayNameFor(model => model.IsPremium)</th>
            <td>@Html.DisplayFor(model => model.IsPremium)</td>
        </tr>
    </table>
    <table>
        <tr>
            @{
                if (@Model.Photos.Count > 0)
                {
                    <th>@Html.DisplayNameFor(model => model.Photos)</th>
                    <td><img src="~/Photos/@Model.Photos.First()" height="140" width="140" /></td>
                }
            }
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
</div> -->
